stages:
  - test
  - security

variables:
  DOCKER_IMAGE: "$CI_REGISTRY_IMAGE:latest"

test_job:
  stage: test
  tags:
    - assistx   # HARUS sesuai tag runner kamu
  script:
    - echo "Running test job..."
    - echo "Semua file terdeteksi"
    - ls -lah

security_scan:
  stage: security
  tags:
    - assistx   # HARUS sesuai tag runner kamu
  script:
    - echo "Running security scan..."
    - echo "Simulasi scan selesai"
