stages:
  - build
  - push
  - deploy

variables:
  DOCKER_IMAGE: "$DOCKERHUB_USERNAME/devops-test:latest"

before_script:
  - echo "Running job on $(hostname)"
  - docker --version
  - kubectl version --client=true

build:
  stage: build
  script:
    - echo "Building Docker image..."
    - docker build -t $DOCKER_IMAGE .
  only:
    - main

push:
  stage: push
  script:
    - echo "Logging in to Docker Hub..."
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker push $DOCKER_IMAGE
  only:
    - main

deploy:
  stage: deploy
  script:
    - echo "Deploying to Kubernetes..."
    - kubectl apply -f k8s/
    - kubectl rollout status deployment/hello-deploy
  only:
    - main

