stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: "$CI_REGISTRY_IMAGE/app:latest"

build_and_push:
  stage: build
  tags:
    - assistx
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker build -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE
  only:
    - main

deploy:
  stage: deploy
  tags:
    - assistx
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBE_CONFIG" | base64 -d > ~/.kube/config
  script:
    - sed -i "s|IMAGE_REPLACE|$DOCKER_IMAGE|g" k8s/deployment.yaml
    - kubectl apply -f k8s/
  only:
    - main

