name: CI - Build & Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DH_USER }}
          password: ${{ secrets.DH_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DH_USER }}/devops-test:latest .

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DH_USER }}/devops-test:latest
